DB_USER=postgres
DB_PASSWORD=replace_me
DB_HOST=db
DB_PORT=5432
DB_NAME=my_app_development
DB_NAME_TEST=my_app_test
RAILS_ENV=development
FRONTEND_ORIGIN=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DEMO_USER_ID=1
